{% extends "base.html" %}

{% block content %}

<main>
    <section class="cp-arg-123">
        <h2>Copa Argentina</h2>

        <div class="abc-123">
            <img src="{{ url_for('static', filename='images/river.png') }}" alt="Copa Argentina Logo" class="xyz-789">
            <h2>Fixture de la Copa Argentina</h2>
        </div>

        <div class="cp-arg-container">
            <!-- Contenedor de partidos -->
            <div class="prt-ctr-456">
                <!-- Partido 1 -->
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <!-- Partido 2 -->
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/racing.png') }}" alt="Racing Club Logo" class="logo-eq-222">
                        <p>Racing Club</p>
                    </div>
                    <div class="rst-def-333">
                        <span>1 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/independiente.png') }}" alt="Independiente Logo" class="logo-eq-222">
                        <p>Independiente</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <div class="prt-789">
                    <div class="eq-abc-111">
                        <img src="{{ url_for('static', filename='images/river.png') }}" alt="River Plate Logo" class="logo-eq-222">
                        <p>River Plate</p>
                    </div>
                    <div class="rst-def-333">
                        <span>2 - 1</span>
                    </div>
                    <div class="eq-xyz-444">
                        <img src="{{ url_for('static', filename='images/boca.png') }}" alt="Boca Juniors Logo" class="logo-eq-222">
                        <p>Boca Juniors</p>
                    </div>
                </div>
                <!-- Más partidos aquí -->
            </div>
            
            <!-- Noticias pequeñas a la derecha -->
            <div class="not-peq-555">
                <h3>Últimas Noticias</h3>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/noti5.webp') }}" alt="Noticia 1">
                    </div>
                    <p>La Copa Argentina se pone cada vez más emocionante.</p>
                </div>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/boca-news.jpg') }}" alt="Noticia 2">
                    </div>
                    <p>River Plate avanza con una victoria en su último partido.</p>
                </div>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/racing-news.jpg') }}" alt="Noticia 3">
                    </div>
                    <p>Boca Juniors logró un empate agónico en su encuentro.</p>
                </div>
            </div>
        </div>
    </section>
</main>







{% endblock %}