{% extends "base.html" %}

{% block content %}

<main>

    <section class="cp-arg-123">
        <h2>Copa Argentina</h2>

        <div class="abc-123">
            <img src="{{ url_for('static', filename='images/liga-arg-logo.webp') }}" alt="Copa Argentina Logo" class="xyz-789">
            <h2>Tabla de posiciones del futbol argentino</h2>
        </div>

        <div class="tbp-posc-container">
            <section id="tabla-posiciones">
                <div class="nmb-group">
                    <p>Grupo A</p>
                </div>
                
                <table>
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Equipo</th>
                            <th>pj</th>
                            <th>pg</th>
                            <th>pe</th>
                            <th>pp</th>
                            <th>gf</th>
                            <th>gc</th>
                            <th>dif</th>
                            <th>pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos_a %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <img src="{{ url_for('static', filename=equipo.escudo) }}" alt="{{ equipo.equipo }}" class="team-logo">
                                {{ equipo.equipo }}
                            </td>
                            <td>{{ equipo.partidos_jugados }}</td>
                            <td>{{ equipo.partidos_ganados }}</td>
                            <td>{{ equipo.partidos_empatados }}</td>
                            <td>{{ equipo.partidos_perdidos }}</td>
                            <td>{{ equipo.goles_a_favor }}</td>
                            <td>{{ equipo.goles_en_contra }}</td>
                            <td>{{ equipo.diferencia_goles }}</td>
                            <td>{{ equipo.puntos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <div class="nmb-group">
                    <p>Grupo B</p>
                </div>
                
                <table>
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Equipo</th>
                            <th>pj</th>
                            <th>pg</th>
                            <th>pe</th>
                            <th>pp</th>
                            <th>gf</th>
                            <th>gc</th>
                            <th>dif</th>
                            <th>pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos_b %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <img src="{{ url_for('static', filename=equipo.escudo) }}" alt="{{ equipo.equipo }}" class="team-logo">
                                {{ equipo.equipo }}
                            </td>
                            <td>{{ equipo.partidos_jugados }}</td>
                            <td>{{ equipo.partidos_ganados }}</td>
                            <td>{{ equipo.partidos_empatados }}</td>
                            <td>{{ equipo.partidos_perdidos }}</td>
                            <td>{{ equipo.goles_a_favor }}</td>
                            <td>{{ equipo.goles_en_contra }}</td>
                            <td>{{ equipo.diferencia_goles }}</td>
                            <td>{{ equipo.puntos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                

            </section>
            <div class="not-peq-555">
                <h3>Últimas Noticias</h3>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/noti5.webp') }}" alt="Noticia 1">
                    </div>
                    <p>La Copa Argentina se pone cada vez más emocionante.</p>
                </div>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/boca-news.jpg') }}" alt="Noticia 2">
                    </div>
                    <p>River Plate avanza con una victoria en su último partido.</p>
                </div>
                <div class="not-666">
                    <div class="not-img-777">
                        <img src="{{ url_for('static', filename='images/racing-news.jpg') }}" alt="Noticia 3">
                    </div>
                    <p>Boca Juniors logró un empate agónico en su encuentro.</p>
                </div>
            </div>
        </div>
</main>
{% endblock %}