/* Para noticias personalizadas */
.noticias-personalizadas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.noticia-personalizada {
    position: relative;
    overflow: hidden;
}

.noticia-personalizada-contenedor {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.noticia-personalizada img {
    width: 100%;
    display: block;
}

/* Texto sobre la imagen (para noticias grandes y medianas) */
.noticia-personalizada-texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
    width: 100%;
}

.noticia-personalizada.grande .noticia-personalizada-texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    max-width: 100%;
}

.noticia-personalizada.grande {
    width: 100%;
    max-width: 600px; /* No hay límite de ancho para la noticia grande */
}

/* Nuevas clases para mediana y pequeña para evitar interferencias */
.noticia-personalizada-mediana {
    width: 100%;
    max-width: 450px;
}

.noticia-personalizada-pequena {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

/* Noticias pequeñas con texto debajo en recuadro negro */
.noticia-custom-texto-bloque {
    width: 100%;
    background: black;
    color: white;
    padding: 20px;
    min-height: 400px; /* Ajusta este valor para más altura */
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .noticias-personalizadas {
        flex-direction: column;
        align-items: center;
    }

    .noticia-personalizada.grande {
        max-width: 90%;
    }

    .noticia-personalizada-mediana {
        max-width: 90%;
    }

    .noticia-personalizada-pequena {
        max-width: 90%;
    }

    .noticia-personalizada.grande .noticia-personalizada-texto {
        font-size: 30px; /* Reducir tamaño de texto para pantallas pequeñas */
    }
}

/* Media query para pantallas muy pequeñas (como móviles en modo vertical) */
@media (max-width: 480px) {
    .noticia-personalizada.grande .noticia-personalizada-texto {
        font-size: 24px; /* Reducir aún más el tamaño del texto */
        padding: 8px 10px;
    }

    .noticia-custom-texto-bloque {
        padding: 10px;
        min-height: 250px; /* Reducir el tamaño para móviles pequeños */
    }
}