.nmb-group {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    color: gray;
}

/* Establecer contenedor principal como flex */


.tbp-posc-container {
    display: flex;
    justify-content: space-between; /* Espacio entre la tabla y las noticias */
    align-items: flex-start; /* Alineación superior */
    gap: 20px; /* Espacio entre la tabla y las noticias */
}

/* Tabla de posiciones */
#tabla-posiciones {
    flex: 3; /* Ocupa 3 columnas */
    width: 55%; /* Ajusta el ancho de la tabla */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    text-transform: uppercase; /* Todo en mayúsculas */
}

/* Noticias */
.not-peq-555 {
    flex: 1; /* Ocupa 1 columna */
    width: 30%; /* Ajusta el ancho de las noticias */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;

}

/* Título */
h1 {
    text-align: center;
    color: #333;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para celdas tipo "cárcel" pero sutil */
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Bordes suaves */
    background-color: rgba(0, 0, 0, 0.02); /* Fondo muy sutil */
    font-size: 13px;
    font-weight: 600;
}

/* Encabezados */
th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: bold;
}

/* Texto de las celdas */
td {
    color: #333;
}

/* Imagen del equipo */
.team-logo {
    width: 18px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .tbp-posc-container {
        flex-direction: column;
        align-items: flex-start; /* Alineación a la izquierda */
        gap: 5px;
        width: 100%;
        padding: 0;
        margin-left: 0; /* Asegurarse de que no haya margen a la izquierda */
        overflow-x: hidden; /* Evita el scroll horizontal */
    }

    #tabla-posiciones {
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 8px;
        margin: 0; /* Eliminar cualquier margen */
    }

    .not-peq-555 {
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 8px;
    }

    /* Ajustar tamaño de texto y reducir padding */
    th, td {
        font-size: 12px; /* Hacemos la fuente más pequeña */
        padding: 4px; /* Reducimos padding */
    }

    /* Ocultar columnas GF, GC, DIF en móviles */
    th:nth-child(7), /* Encabezado GF */
    th:nth-child(8), /* Encabezado GC */
    th:nth-child(9), /* Encabezado DIF */
    td:nth-child(7), /* Datos GF */
    td:nth-child(8), /* Datos GC */
    td:nth-child(9)  /* Datos DIF */ {
        display: none;
    }

    /* Ajustar logo del equipo */
    .team-logo {
        width: 15px; 
    }


}